/* Mobile Device Responsive */

@media screen and (max-width:576px) {
    /* banner section  */
    .menu-bar{
        display: block;
    }
    .navbar-item{
        display: none;
    }
    .banner-part{
        flex-direction: column;
    }
    .banner-text{
        width: 100%;
    }
    .banner-image{
        width: 100%;
    }
    .banner-title{
        font-size: 2.25rem;
    }
    .banner-btn{
        font-size: 16px;
        padding: 0.8rem 1.2rem;
    }
    .card-1{
        bottom: 40%;
        left: 10%;
    }
    .card-2{
        top: 10%;
        left: 60%;
    }
    /* first section */
    .round-card{
        grid-template-columns: 1fr;
        /* align-items: center; */
        /* align-content: center; */
        justify-items: center;
    }
    .round-text{
        width: 100%;
    }
    .round-title{
        font-size: 2rem;
    }
        /* second section */
    .run-flex{
        flex-direction: column;
    }
    .run-section{
        width: 100%;
    }
    .run-title{
        font-size: 2rem;
    }
    .run-im{
        margin-top: 2rem;
    }
    .run-img{
        object-fit: none;
        object-position: 68% 28% ;
    }
    /* challenge part */
    .videos-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .video-title{
        font-size: 2rem;
    }
    /*  */
    .bmi-text{
        width: 100%;
        /* text-align: left; */
    }
    .bmi-text h1{
        font-size: 2rem;
    }
    .bmi-calculate{
        flex-direction: column;
        
    }
    .table-data{
        width: 100%;
    }
    .calculate-text{
        width: 100%;
    }
    .team h1{
        font-size: 2rem;
    }
    .team{
        width: 100%;
    }
    
    /*  */
    .img-grid-section{
        grid-template-columns: repeat(1, 1fr);
    }
    .img-title h4{
        font-size: 1.5rem;
        font-weight: 800;
    }

    /*  */
    .foot-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .fitness-text{
        width: 100%;
    }
    
}