/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Miama font */
@import url('https://fonts.cdnfonts.com/css/miama?styles=170364');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background-color: black;
}

.banner{
    max-width: 80%;
    margin: 0 auto;
}

header{
    background:linear-gradient( 
    rgba(255, 255, 255, 0.5),
    rgba(119, 119, 119, 0) );
}

/* navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 2rem 0; */
    padding-top: 2rem;
}
.nav-item{
    list-style: none;
    text-decoration: none;
    font-size: 1.125rem;
    margin-right:  1.5rem;
}
.nav-1{
    background-color: #E6533C;
    border: none;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
}
.navbar-item{
    display: flex;
    align-items: center;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
}
.navbar-title{
    font-size: 2.25rem;
    font-weight: 800;
    color: #E6533C;
}
.menu-bar{
    display: none;
}
/* banner */
.banner-text{
    width: 48%;
}
.banner-image{
    width: 35%;
    position: relative;
}
.banner-image img{
    width: 100%;
}
.banner-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}
.banner-title{
    font-size: 4rem;
    font-weight: 800;
    /* color: white; */ 
    margin-bottom: 1.8rem;
}
.shape{
    font-family: 'Miama', sans-serif;
    letter-spacing: 0;
    line-height: 120%;
}
.banner-des{
    color: rgba(255, 255, 255, 0.5);
}
.banner-btn{
    font-size: 18px;
    font-weight: 600;
    background-color: #E6533C;
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
}
.btn-2{
    background-color: transparent;
    border: 1px solid #E6533C;
    margin-left: 1rem;
}

.ball{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.card-1{
    display: flex;
    align-items: center;
    position: absolute;
    background-color: rgba(103, 102, 102, 0.54);
    padding: 20px;
    border-radius: 1rem;
    bottom: 90px;
    left: -80px;
}
.card-2{
    position: absolute;
    top: 130px;
    left: 230px;
    background-color: rgba(103, 102, 102, 0.54);
    padding: 20px;
    width: 130px;
    border-radius: 1rem;
}
.card-2, .card-1 p{
    font-size: 13px;
}    
.card-2 h1{
    font-size: 40px;
    font-weight: 800;
}  

/* main part */
.first, .second{
    max-width: 80%;
    margin: 0 auto;
}
/* first section */

.first-section{
    margin: 5rem 0;
}
.round-pic{
    border-radius: 50%;
}
.round-title{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;
}
.round-des{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 3rem;
}
.round-text{
    width: 600px;
    margin: 0 auto;
}
.cards{
    width: 220px;
    text-align: center;
}
.round-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
.pic-title{
    font-size: 18px;
    font-weight: 600;
    margin: 0.5rem 0;
}

/* second section */
.run-section{
    width: 45%;
}
.run-img{
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 70% 30%;
    border-radius: 1rem;
}
.second-section{
    background-color: #222222;
    border-radius: 1rem;
    margin-bottom: 4rem;
}    
.run-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.run-title{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.run-des{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

/* challenge part */
.challenge{
    background-color: #222222;
}
.motivation{
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}
.video-title{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;
    text-align: center;
}
.video-des{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 2rem;
}
.videos-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 1.5rem;
}
/*  */
.bmi-table-chart{
    background-color: #222222;
}
.bmi-calculate{
    max-width: 80%;
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
}
table,tr,td,th{
    border:1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 0.5rem;
    margin-top: 2.2rem;
    color: rgba(255, 255, 255, 0.5);
}
.bmi-text{
    width: 60%;
    margin: 4rem auto;
    text-align: center;
}
.bmi-text h1{
    font-size: 3rem;
    font-weight: 800;
}
.bmi-text p{
    color: rgba(255, 255, 255, 0.5);
    margin: 1rem 0;
}
select{
    color:rgba(255, 255, 255, 0.5);
}
.input-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}
.calculate-text{
    width: 60%;
    margin-bottom: 3rem;
}
input, select{
    width: 290px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 0.5rem;
}
#select-it{
    width: 605px;
}
.bmi-title{
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 3rem;
}
.bmi-des{
    color: rgba(255, 255, 255, 0.5);
    margin: 1rem 0 2rem 0;
}

/*  fourth section*/
.fourth{
    max-width: 80%;
    margin: 0 auto;
}
.team{
    margin: 4rem 0 3rem 0;
    text-align: center;
}
.team h1{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.team p{
    color: rgba(255, 255, 255, 0.5);
}
.grid-card{
    background-color: #222222;
    padding: 1rem;
    border-radius: 1rem;
}
.img-grid-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.img-cards{
    position: relative;
}
.img-cards img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.img-title{
    position: absolute;
    bottom: 5%;
    left: 5%;
}
.img-title p{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1rem;
}

/* footer */
footer{
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 3rem;
}
.foot{
    max-width: 80%;
    margin: 0 auto;
    padding: 3rem 0 4rem 0;
}
.fitness-text{
    width: 450px;
    /* border: 1px solid red; */
}
.get-started{
    width: 200px;
    /* border: 1px solid red; */
}
.foot-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-bottom: 3rem;
}
.foot-title{
    font-size: 4rem;
    font-weight: 800;
    color: #E6533C;
    font-style: italic;
    margin-bottom: 1rem;
}
.foot-des{
    color: rgba(255, 255, 255, 0.5);
}
.get-started h2{
    font-size: 2rem;
    font-weight: 700;
}
.get-started p{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 1rem;
}
.copy-right{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 2.5rem;
    text-align: center;
}